*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #060D19;
    font-family: "Inter", sans-serif;
}
header{
    background: #060D19;
    width: 100%;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    
}

#logo{
   margin-left: 30px;
   width: 90%;
   height: 90;
}
.menu{
    display: flex;
    gap: 20px;
    align-items: center;
}
#menu-button{
    color: #C4DDFF;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none; 
}
.search-container{
    margin-left: 120px;
    position: relative;
    margin-left: auto;
}
.search-input{
    padding: 10px;
    border: 1px solid white;
    border-radius: 18px;
    width: 240px;
    margin-left: 40px;
}
.search-btn{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
.content-sect-one{
    position: relative;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.bkg-img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.bkg-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}
#content-grad{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(81.03% 88.16% at 95.61% 0%, #040A12 5.97%, rgba(8, 23, 45, 0.94) 18.78%, rgba(25, 55, 109, 0.53) 63.83%, rgba(5, 13, 25, 0.99) 87.67%);
    z-index: 1;
}
.text-cont{
    font-size: 16px;
    text-transform: capitalize;
    color: #C4DDFF;
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    padding: 20px;
    
}
.text-cont h3{
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
    color: #7FB5FF;
    text-transform: capitalize;

}
.text p{
    font-size: 18px; /* Tamaño de fuente */
    color: white; /* Color del texto */
    font-style: italic; /* Estilo de texto */
    text-transform: capitalize; /* Primera letra en mayúscula */
    line-height: 16px; /* Especifica una altura exacta para los renglones */
    max-width: 600px; /* Limita el ancho del texto para controlar las líneas */
    margin: 0 auto; /* Centra el texto horizontalmente */
    text-align: center; /* Alinea el texto a la izquierda */
    word-break: break-word; /* Evita que palabras largas desorganicen el diseño */
    hyphens: auto; 

}
.cta-button{
    margin-top: 50px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #607EAA ;
    border: 1px solid white ;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.content-compromiso{
    margin-top: 35px;
    transform: rotate(-3deg) translateX(-1.5%);
    background: rgba(96, 126, 170, 0.05);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    z-index: 0;

}
.content-compromiso h3{
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
    color: #7FB5FF;
    text-transform: capitalize;
    margin-top: -80px;
    margin-bottom: 30px;
    padding: 24px;
    transform: rotate(3deg);
    text-align: center;   

}
.cont-nc{
    transform: rotate(3deg);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
}
.cont-pic{
    width: 205px;
    height: 249px;
    position: relative;
    border-radius: 14px;
    overflow: hidden;
}
.cont-pic img{
    opacity: 0.5;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cont-gradiente{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(343deg, rgba(96, 126, 170, 0.54) 0%, rgba(25, 55, 109, 0.20) 100%);
    z-index: 1;
}
.cont-form{
    width: 170px;
    height: 220px;  
    border-radius: 14px;
    border: 2px solid white;
    z-index: 2;
    margin-top: -240px;
    margin-left: 20px;
    align-items: center;

}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 3;
}
.text h4{
    font-size: 20px;
    font-weight: 600;
    color: #7FB5FF;
    margin: 10px;
}
.text p{
    font-size: 12px;
    font-weight: 100;
    margin: 2px 0 0 0;
    font-weight: 400;
}
.titulo-product{
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
    color: #7FB5FF;
    text-transform: capitalize;
    margin-top: -80px;
    margin-bottom: 30px;
    padding: 24px;
    text-align: center;

}

.cont-products{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    gap: 20px;
}
.products-bkg{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    
}
#cont-grad-products{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:radial-gradient(160.17% 171.56% at -31.82% -14.18%, rgba(96, 126, 170, 0.40) 0%, rgba(51, 70, 98, 0.70) 52.52%, #060D19 76.5%, #060D19 100%);
    z-index: 1;
    
}
.titulo-product{
    font-size: 24px;
    font-weight: bold;
    margin: 20px;
    color: #7FB5FF;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 10px;
    text-align: center;
    z-index: 2;

}

.text-cont-products { 
    
    gap: 20px;
    padding: 10px;
    margin-left: 150px;
    margin-right: 150px;
    position: relative;
    line-height: 1.6; /* Define una altura uniforme para las líneas */
    word-break: break-word; /* Evita que palabras largas desorganicen el diseño */
    hyphens: auto;
    color: #C4DDFF;
    text-align: center;
    z-index: 2;

}
.text-products-r{
    font-size: medium;
    flex: 1 1 40%;  
    font-weight: 200;
    padding: 20px;
    margin: 30px;
    color: white;
    text-align: left;
    line-height: 1.6; /* Define una altura uniforme para las líneas */
    word-break: break-word; /* Evita que palabras largas desorganicen el diseño */
    hyphens: auto;
    z-index: 2;
    max-width: 30%;

}

.text-products-r h4{
    font-size: larger;
    margin: 10px 0;
    color: #607EAA;
    z-index: 2;

}

.text-products-l{
    font-size: medium;
    flex: 1 1 40%;  
    font-weight: 200;
    padding: 20px;
    margin: 30px;
    color: white;
    text-align: left;
    line-height: 1.6; /* Define una altura uniforme para las líneas */
    word-break: break-word; /* Evita que palabras largas desorganicen el diseño */
    hyphens: auto;
    z-index: 2;
    max-width: 30%;

}

.text-products-l h4{ 
    font-size: larger;
    margin: 10px 0;
    color: #607EAA;
    z-index: 2;
  
}

.pd-button{
    max-width: 80%;
    margin-top: 50px;
    margin-bottom: 10px;
    color: #607EAA;
    border: 1px solid #607EAA;
    background:none;
    padding: 8px 10px;
    font-size: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pd-button :hover{
    margin-top: 50px;
    color: #607EAA;
    border: 1px solid #607EAA;
    background:#7FB5FF;
    padding: 8px 10px;
    font-size: 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cont-questions{
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 50px auto;
    padding: 20px;
    display: flex; /* Activa el flexbox */
    flex-direction: column; /* Apila los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    position: relative;
    gap: 50px;
}

.title-questions{
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: #7FB5FF;
    margin-bottom: 30px;
    text-align: center;
}

.circle {
    flex-shrink: 0;
    width: 223px;
    height: 223px;
    border-radius: 50%;
    background: linear-gradient(177deg, rgba(163, 199, 248, 0.52) 2.67%, rgba(8, 23, 45, 0.50) 76.16%);
    box-shadow: 0px 8px 22px rgba(130, 171, 233, 0.5); /* Corrige el valor de la sombra */
    margin: 0 auto 20px auto;
    display: flex; /* Necesario para centrar el contenido dentro del círculo */
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
    overflow: hidden;
  }

  .circle img{
    object-fit: cover;
    width: 90%;
    height: 90%;
    border-radius:50%;
    align-items: center;
    object-fit: cover;
  }

  .faq-content {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    gap: 30px; 
    width: 100%;
  }

  .faq-container {
    margin: auto;
    max-width: 600px; 
    text-align: left;
  }

  .faq-item {
    margin-bottom: 10px;
  }
  
  .faq-question {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    background-color: #607EAA; 
    color: #ffffff; 
    border: none; 
    padding: 15px 20px; 
    font-size: 1rem; 
    text-align: left; 
    cursor: pointer; 
    position: relative;
    line-height: 1.8; 
    border-radius: 8px; 
    gap: 60px; 
  }

  .faq-question .toggle-icon {
    float: right;
    font-weight: bold;
  }
  
  .faq-answer {
    color: #C4DDFF;
    width: 98%;
    display: none;
    background-color: #1e293e;
    padding: 15px;
    border-left: 4px solid #7FB5FF;
    font-size: 0.9rem;
    margin-top: -1px;
  }
  
  .faq-question.active + .faq-answer {
    display: block;
    align-items: center;
  }

  .contact-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    gap: 40px;
    min-height: 100vh;
    overflow: hidden;
    padding: 20px;
    left: 70px;
    margin-right: 40px;
    
  }

  .contac-img-bkg img {
    color: lightgray 50%; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra todo el fondo */
    z-index: 1; /* Primera capa */
    opacity: .3;
  }

  .contact-bkg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; /* Segunda capa */
    background:radial-gradient(81.03% 88.16% at 95.61% 0%, #040A12 5.97%, rgba(8, 23, 45, 0.94) 18.78%, rgba(25, 54, 109, 0.146) 63.83%, rgba(5, 13, 25, 0.99) 87.67%);
  }

  .contact-form,
  .contact-info {
    position: relative;
    z-index: 3; /* Tercera capa */
  }

  .contact-form {
    flex: 1;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.1); /* Fondo transparente */
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.4); /* Sombra para destacar el contenedor */
    
    
  }
  
  .contact-info {
    flex: 1;
    margin-left: 40px;
    gap: 20px;
  }
  .contact-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-row {
    display: flex;
    gap: 15px;
  }
  
  .form-input {
    flex: 1;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    background: transparent;
    color: #ffffff;
    font-size: 1rem;
  }

  .form-textarea {
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    background: transparent;
    color: #ffffff;
    font-size: 1rem;
    height: 100px;
    resize: none;
  }
  
  .form-button {
    padding: 15px;
    background:#7FB5FF;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    transition: background 0.3s;
    margin: 20px;
  }
  
  .form-button:hover {
    background: #7FB5FF;
  }
  
  /* Información de contacto */
  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 60px;
    padding-left: 60px;

  }
  
  .contact-title {
    font-size: 1.8rem;
    color: #7FB5FF;
  }
  
  .contact-info p {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    color: #C4DDFF;
    line-height: 1.6;
  }
  
  .icon {
    width: 20px;
    height: 20px;
    filter: invert(48%) sepia(59%) saturate(503%) hue-rotate(195deg) brightness(93%) contrast(85%);
  }

  .map-container {
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.4);
    height: 200PX;
    width: 400px;
  }

  /* Footer General */
.footer {
    
    background-color: #040A12; /* Color de fondo */
    width: 100%; /* Asegura que ocupe el ancho completo de la pantalla */
    padding: 0; /* Elimina posibles espacios internos */
      
  }
  
  .footer-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    gap: 20px; 
    max-width: 1200px; 
    margin: 0 auto;
    padding: 40px 20px; 
    width: 100%; 
  }

  /* Sección de la Compañía */
  .footer-company {
    flex: 1;
    text-align: center; /* Centra el logo y el slogan */
    max-width: 300px;
  }
  
  .company-logo {
    width: 200px; /* Tamaño del logo */
    height: auto;
    margin-bottom: 5px;
  }
  
  .company-slogan {
    font-size: 12px;
    font-style: italic;
    color: rgba(255, 255, 255, 0.8);
    text-transform: capitalize;
    margin-top: 0; /* Elimina cualquier espacio extra arriba */
    line-height: 1.2;
  }
  
  /* Enlaces Rápidos */
  .footer-links {
    flex: 1;
    text-align: left;
    max-width: 300px;
  }
  
  .footer-links h4 {
    font-size: 12px;
    margin-bottom: 15px;
    color: #7FB5FF;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
    font-size: 12px;
  }
  
  .footer-links li {
    margin-bottom: 10px;
  }
  
  .footer-links a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: #7FB5FF;
  }
  
  /* Redes Sociales */
.footer-socials {
    flex: 1;
    text-align: left;
    max-width: 300px;
  }
  
  .footer-socials h4 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 12px;
    color: #7FB5FF;
  }
  
  /* Estilo de los íconos */
  .social-icons a {
    width: 20px;
    height: 20px;
    filter: invert(48%) sepia(59%) saturate(503%) hue-rotate(195deg) brightness(93%) contrast(85%);
  }
  
  .social-icons img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
  }
  
  .social-icons img:hover {
    transform: scale(1.1);
  }
  
  /* Newsletter */
  .newsletter-form {
    display: flex;
    flex-wrap: wrap; /* Hace que los elementos se adapten en pantallas pequeñas */
    gap: 10px;
    margin-top: 20px;
  }
  
  .newsletter-input {
    flex: 1; /* Ocupa todo el espacio disponible */
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    background: transparent;
    color: #ffffff;
    font-size: 12px;
  }
  
  .newsletter-input::placeholder {
    color: rgba(255, 255, 255, 0.6); /* Color del texto del placeholder */
  }
  
  .newsletter-button {
    padding: 10px 20px;
    background: #7fb4ff65;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background 0.3s ease;
  }
  
  .newsletter-button:hover {
    background: #C4DDFF;
  }

  .footer-bottom{
    background-color: #060D19; /* Color de fondo diferente */
    width: 100%; /* Asegura que ocupe todo el ancho de la pantalla */
    text-align: center; /* Centra el texto */
    color: #c4ddff; /* Color del texto */
    padding: 10px 0; /* Espaciado interno */
    font-size: 12px; /* Tamaño del texto */
    margin-top: 0;
  }
  