*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #060D19;
    font-family: "Inter", sans-serif;
}
header{
    background: #060D19;
    width: 100%;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    
}

#logo{
   margin-left: 30px;
   width: 90%;
   height: 90;
}
.menu{
    display: flex;
    gap: 20px;
    align-items: center;
}
#menu-button{
    color: #C4DDFF;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none; 
}
.search-container{
    margin-left: 120px;
    position: relative;
    margin-left: auto;
}
.search-input{
    padding: 10px;
    border: 1px solid white;
    border-radius: 18px;
    width: 240px;
    margin-left: 40px;
}
.search-btn{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
.content-sect-one{
    position: relative;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.bkg-img{
    position: relative;
    width: 100%;
    height: 100%;
    

}
.bkg-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    z-index: -2;

}
#content-grad{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(81.03% 88.16% at 95.61% 0%, #040A12 5.97%, rgba(8, 23, 45, 0.94) 18.78%, rgba(25, 55, 109, 0.53) 63.83%, rgba(5, 13, 25, 0.99) 87.67%);
    z-index: 1;
}
.text-cont{
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    padding: 20px;
    
}
.text-cont h3{
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
    color: #7FB5FF;
    text-transform: capitalize;

}
.text-cont p{
    font-size: 16px;
    color: white;
    font-style: italic;
    text-transform: capitalize;
}
.cta-button{
    margin-top: 50px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #7FB5FF ;
    border: 1px solid white ;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;

}

.content-compromiso{
    padding: 50px;
    transform: rotate(-3.93deg);
    background: rgba(96, 126, 170, 0.10);
    text-align: center;
   
}

.content-compromiso h3{
    text-align: center;
    color: #7FB5FF;
    font-size: 32px;
    margin-bottom: 50px;
    transform: rotate(3.93deg);

}
.cont-nc{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transform: rotate(3.93deg);
  
}
.cont-item{
    position: relative;
    width: 22%;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;
    border-radius: 8px;
}
.cont-pic{
    position: relative;
    width: 100%;
    height: 200px;
}
.cont-pic img {
    z-index: 1;
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}
.cont-gradiente {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}
.cont-item h4 {
    margin-top: 15px;
    font-size: 24px;
    color: #007bff;
    font-weight: bold;
}

.cont-item p {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
    padding: 0 10px;
}









